[project]
	description = The Seblod Component from http://www.octopoos.com/
[access "refs/*"]
	owner = group user/Frank Lemanschik (DSPEED)
[access "refs/for/refs/*"]
	read = group user/Frank Lemanschik (DSPEED)
	push = group user/Frank Lemanschik (DSPEED)
	label-Code-Review = -2..+2 group user/Frank Lemanschik (DSPEED)
	label-Verified = -1..+1 group user/Frank Lemanschik (DSPEED)
	rebase = group user/Frank Lemanschik (DSPEED)
	removeReviewer = group user/Frank Lemanschik (DSPEED)
	submit = group user/Frank Lemanschik (DSPEED)
[access "refs/heads/*"]
	read = group user/Frank Lemanschik (DSPEED)
	create = group user/Frank Lemanschik (DSPEED)
	push = +force group user/Frank Lemanschik (DSPEED)
	pushMerge = group user/Frank Lemanschik (DSPEED)
[access "refs/tags/*"]
	push = +force group user/Frank Lemanschik (DSPEED)
	pushTag = group user/Frank Lemanschik (DSPEED)
	pushSignedTag = group user/Frank Lemanschik (DSPEED)
